.friends .friends__header{
    padding-bottom: 20px;
}
.friends .friends__plus, .friends__list li{
    margin: 20px 0;
    bottom: 20px 0;
    border-bottom: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
}
.friends__plus .friends__title, .friends__list .friends__title{
    font-size: 14px;
    opacity: 0.6s;
    margin-bottom: 12px;
}
